/*----------------  All Slides ----------------------------------------------*/

body {
  background-color: #002b36; /* RevealJS moon theme */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  color: #eee8d5;att
  font-family: sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word;
  text-align: center }
}
h1 {
  font-size: 3.77em; }
h2 {
/*  font-size: 2.11em; */
    font-size: 46pt;
}
h3 {
  font-size: 1.55em; }
h4 {
  font-size: 1em; }


/*---- LEGEND ---------------------------------------------------------------*/
.legendTitle, .explainText, labelBarchart {
  /* stroke: #eee8d5; */
  fill: #eee8d5;
  font-size: 12pt;
}

.smTitle{
  margin: 0 0 20px 0;
  color:#eee8d5;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word;
  text-align: center;
}
.legendBox{
    fill: #999999;
    stroke: #808080;
    stroke-width: 3;
}

/*----SLIDE: Attendees FN graph ---------------------------------------------*/
text.monoLG {
    font-size: 12pt;
    font-family: Consolas, courier;
    fill: #eee8d5;

    /*fill: #aaa;*/
}
.nodetext{
   font-size:24px;
   fill: #eee8d5;  /* keep with moon.css theme */
   text-shadow: -4px 4px 3px   #000000;   /* add a drop shadow */
}
.node:not(:hover) .nodetext{
    display: none;
}
.edge:not(:hover) .edgetext{
    display: none;
}
/*-- Nodes */
/* Stroke is 3 levels darker than fill on https://www.w3schools.com/colors/colors_picker.asp */
.node{
 stroke-width: 1;
}
.code{
  fill: #870922;
  stroke: #600618;
}
.flag{
  fill: #00ff00;
  stroke: #600618;
}
.literal{
  fill: white;
  stroke: #38225e;
}
.measure{
  fill: red;
  stroke: #38225e;
}
.person{
  fill: #ffff00;
  stroke: #38225e;
}
.rdfs{
  fill: grey;
  stroke: #38225e;
}
.rule{
  fill: pink;
  stroke: #38225e;
}
.sdtm{
  fill: orange;
  stroke: #164850;
}
.study{
  fill: #482C79;
  stroke: #38225e;
}

.skos{
  fill: blue;
  stroke: #164850;
}
.time{
  fill: #1C5B64;
  stroke: #164850;
}

/* File relationships */
.data
{
  fill: #1C5B64;
  stroke: #164850;
}
.ontology{
  fill: orange;
  stroke: #164850;
}



/*---- Edges ----------------------------------------------------------------*/
.edge {
stroke-width: 5;
}
.code{
  stroke: #005c99;
}
.skos{
  stroke:  purple;
}
.study{
  stroke: green;
}
.rdfs{
  stroke: #0099e6;
}
.type{
  stroke: grey;
}
.time{
  stroke: #e68a00;
}


.tooltipLegend{
    position: absolute;
    width: 150px;
    height: 50px;
    padding: 4px;
    font: 12px sans-serif;
    background: #00ccff;

    border: 0px;
    pointer-events: none;
}
.legendText{
	  fill: #eee8d5;
    font-size: 12px;
    font-weight:bold;
}
.legendNodeText{
    /* fill: #eee8d5; */
    fill:#e1d7b7;  /* a little darker than the titles, etc.*/
    font-size: 12px;
    font-weight:bold;
}

.nodeText{
    fill:#000000;
    font-family: Serif, Georgia;
    font-size: 24px;
    font-weight: bold;
}
.node {
    fill: black;
    font-size: 13px;
    font-weight:bold;
}

/* Special Edge colours based on type of linkage*/
#Default-edge{
  stroke: #808080;
  stroke-width: 4;
}

#Reference-edge{
  stroke: gray;
  stroke-width: 4;
  stroke-dasharray:5,5;
}
#QandA-edge{
  stroke: orange;
  stroke-width: 4;
}
#Evaluation-edge{
  stroke: blue;
  stroke-width: 4;
}
.edges{
    stroke: #bebada;
    stroke-width: 10;
}

/* REFPropG-NodeTypes.html */
.edgeLabel{
    fill:#eee8d5;
    font-family: Serif, Georgia;
    font-size: 18pt;
    font-weight: bold;
}

.tooltip{
    position: absolute;
    width: 250px;
    height: 60px;
    padding: 3px;
    font: 16pt sans-serif;
    background: #eee8d5;
    border: 4px;
    border-style: solid;
    /*border-color: #006680; */
    border-color: #003d4d;
    pointer-events: none;
}
/* ONTOLOGY FLOWER GRAPHS */

/* Grid layout  */
* {
  box-sizing: border-box;
}
.grid{
  display: grid;
  grid-template-areas:
  "headL..... headR"
  "visL...... visR"
  "visL visTip visR"
  "visL...... visR";
  grid-template-columns: 400px[leftCol] 120px[midCol]350px[rightCol];
  grid-template-rows: 30px[header] 300px[topVis] 120px[midVis] 300px[botVis];

}
.grid div {
  border: 1px solid rgb(0,95,107);
  border-radius: 3px;
  background-color: rgba(0,95,107,0.8);
  padding: 0.2em;
  color: #fff;

}

headerLeft{
  grid-area: headL;
}
headerRight{
  grid-area: headR;
}

visLeft{
  grid-area: visL;
}
visRight{
  grid-area: visR;
}

visTip{
  grid-area:visTip;
}

/* Tooltip Container */
/* new from: https://www.w3schools.com/css/css_tooltip.asp */
.petalTooltip {
    padding: 4px;
    width: 160px;

    /*
    text-align: left;
    height: 55px;
    padding: 4px;
    font: 14px sans-serif;
    */
    background: #EEE8D5;
    border: 2px;
    border-radius: 8px;
}
/* Tooltip text */
.petalTooltip .petalTooltiptext{
  visibility: hidden;
  /* width: 140px; */
  background: lightsteelblue;
  /* background-color: lightsteelblue; */
  font: 30px sans-serif;
  text-align: left;
  padding: 10px;
  border: 2px;
  border-radius: 8px;
  left: 10px;
  top : 10px;
  z-index: 1;
}

.petalTooltip:hover .petalTooltiptext{
  visibility: visible;
}

.extOntPetal{
  stroke-width: 4;
}

.intOntPetal{
  stroke-width: 4;
}

/* Ontology Flower Fills */
.CDISC {
  fill:   #2784BB ;
  stroke: #1e6691;  /* darker */
}
.W3C {
  fill:   #FFB00A;
  stroke: #d69100;  /* darker */
}
.Future {
  fill:   #C0C0C0;
  stroke: #a7a7a7;  /* darker */
  stroke-dasharray: 5,5; /* dashed to show not yet in use */
}
.Protocol {
  fill:   #FFB00A;
  stroke: #d69100;  /* darker */
}
.Results {
  fill:   #D60045;  /* red  */
  stroke: #A30035;  /* darker */
}
.SDTM {
  fill:   #0045D6;  /* blue  */
  stroke: #0035A3;  /* darker */
}

.Study {
  fill:   #9100D6;  /* purple  */
  stroke: #6E00A3;  /* darker */
}
.Coding {
  fill:   #00D691;  /* green  */
  stroke: #00A36E;  /* darker */
}
