/*----------------  All Slides ----------------------------------------------*/
/* @import url(../../lib/font/league-gothic/league-gothic.css);  from original reveal.js*/
/* Need to import the League-Gothic font */
@import "/SDTMasRDF/vis/d3/d3/font/league-gothic/league-gothic.css";

body {
    background-color: "#002b36";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  color: #eee8d5;att
  font-family: "League Gothic", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word;
  text-align: center }
}
h1 {
  font-size: 3.77em; }
h2 {
/*  font-size: 2.11em; */
    font-size: 46pt;
}
h3 {
  font-size: 1.55em; }
h4 {
  font-size: 1em; }

body {
  background: #919191;
  background-color: #919191; 
}

/*---- LEGEND ---------------------------------------------------------------*/
.legendTitle, .explainText, labelBarchart {
  /* stroke: #eee8d5; */
  fill: #eee8d5;
  font-size: 12pt;
}
.legendBox{
    fill: #999999;
    stroke: #808080;
    stroke-width: 3;
}

/*----SLIDE: Attendees FN graph ---------------------------------------------*/
text.monoLG {
    font-size: 12pt;
    font-family: Consolas, courier;
    fill: #eee8d5;
    
    /*fill: #aaa;*/
}
.nodetext{
   font-size:24px;
   fill: #eee8d5;  /* keep with moon.css theme */
   text-shadow: -4px 4px 3px   #000000;   /* add a drop shadow */
}
.node:not(:hover) .nodetext{
    display: none;
}
.edge:not(:hover) .edgetext{
    display: none;
}
/*-- Nodes */
/* Stroke is 3 levels darker than fill on https://www.w3schools.com/colors/colors_picker.asp */
.STUDY{
    fill: #482C79;
    stroke: #38225e;
    stroke-width: 1.5;
}
.CODE{
    fill: #870922;
    stroke: #600618;
    stroke-width: 1.5;
}
.TIME{
    fill: #1C5B64;
    stroke: #164850;
    stroke-width: 1.5;
}
/*-- Edges */
.SUBCLASSOF{ 
	  stroke:  #5c5c8a;
}
.EQUIVALENTCLASS{ 

	  stroke: green;
}
.DOMAIN{ 
	  stroke: #005c99;
}
.RANGE{ 
	  stroke: #0099e6;
}
.TYPE{ 

	  stroke: purple;
}
.SUBPROPERTYOF{ 

	  stroke: #e68a00;
}

.INVERSEOF{ 

	  stroke: red;
}

.tooltipLegend{
    position: absolute;
    width: 150px;
    height: 50px;
    padding: 4px;
    font: 12px sans-serif;
    background: #00ccff;
    border: 0px;
    pointer-events: none;
}
.legendText{
	  fill: #eee8d5;
    font-size: 12px;  
    font-weight:bold; 
}
.legendNodeText{       
    /* fill: #eee8d5; */
    fill:#e1d7b7;  /* a little darker than the titles, etc.*/
    font-size: 12px;  
    font-weight:bold; 
}

.nodeText{
    fill:#000000;
    font-family: Serif, Georgia;
    font-size: 24px;   
    font-weight: bold;
}
.node {
    fill: black;
    font-size: 13px;  
    font-weight:bold; 
}

/* Special Edge colours based on type of linkage*/
#Default-edge{
  stroke: #808080;
  stroke-width: 4;
}    

#Reference-edge{
  stroke: gray;
  stroke-width: 4;
  stroke-dasharray:5,5;
}
#QandA-edge{
  stroke: orange;
  stroke-width: 4;
}
#Evaluation-edge{
  stroke: blue;
  stroke-width: 4;
}
.edges{
    stroke: #bebada;
    stroke-width: 10;
}

/* REFPropG-NodeTypes.html */
.edgeLabel{
    fill:#eee8d5;
    font-family: Serif, Georgia;
    font-size: 18pt;   
    font-weight: bold;
}

.tooltip{
    position: absolute;
    width: 250px;
    height: 60px;
    padding: 3px;
    font: 16pt sans-serif;
    background: #eee8d5;
    border: 4px;
    border-style: solid;
    /*border-color: #006680; */
    border-color: #003d4d;
    pointer-events: none;
}