PREFIX owl: <http://www.w3.org/2002/07/owl#>
PREFIX mms: <https://w3id.org/phuse/mms#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX sdtmig-3-1-3: <http://rdf.cdisc.org/std/sdtmig-3-1-3#>
PREFIX sdtms-1-3: <http://rdf.cdisc.org/sdtm-1-3/schema#>
PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
PREFIX cdiscs: <https://w3id.org/phuse/cdiscs#>
PREFIX cts: <https://w3id.org/phuse/cts#>
PREFIX cd01p: <https://w3id.org/phuse/cd01p#>
PREFIX cdiscpilot01: <https://w3id.org/phuse/cdiscpilot01#>
PREFIX study: <https://w3id.org/phuse/study#>
PREFIX sdtm: <https://w3id.org/phuse/sdtm#>
PREFIX code: <https://w3id.org/phuse/code#>
PREFIX sdtmterm: <https://w3id.org/phuse/sdtmterm#>
