SELECT *
WHERE{
cd01p:Study_1 	rdfs:label 	?StudyId;
    		  	skos:prefLabel   	?StudyDescription.
cd01p:Sponsor_1 skos:prefLabel 		?Sponsor.
<https://raw.githubusercontent.com/phuse-org/CTDasRDF/master/data/rdf/sdtmig-3-1-3.ttl> owl:versionInfo ?StdVersion
}
